/* General */
body {
    display: block;
    margin: 0;
}
h1, h2 {
    font-family: 'Merriweather', serif;  
}
h3, h4, h5, h6, p, a {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
/* Header */
.header-container {
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
}
.business-title {
    width: 25%;
}
.header-menu {
display: flex;
justify-content: space-between;
}
.header-menu h3 {
    margin: 1em 1rem;
}

/* Hero Image */
.hero-image {
    
background-image: url(../images/pexels-yaroslav-shuraev-1834400.jpg);
background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -10rem;
    padding: 10%;
    
}
.hero-content {
    width: 50%;
    backdrop-filter: blur(4px);
    padding:5%;
}
.hero-text {
    margin-bottom: 2rem;
}
.hero-button {
    padding:12px;
    background-color: #be8b41;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}